*{
    margin: 0;
    padding: 0;
}

.Header{
    display: flex;
    justify-content:space-between;
}

.Div{
    background-image: url(https://s3-alpha-sig.figma.com/img/1959/de00/d32514d28c4b4222d9274a8ba28e6f7c?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Dczkl9LbGlgrA2rZIU7kCTthfwK95-LXGf9R0s84OjIlwY7zky-wbI1bT-9r4UKRkPV0Ifrzk23cX2rmrdzyytpsXE~9BMiLHEgGXsgZDVtugmB2-I0qp9ejH8PI0fXmRDxj7r6UKDesMeYTJMV0E2OfMMPg6cOM~TLakC22rnykRh8VKlADOkxu4JZTWzvQ48lSircuy9ORbILO1ryGUdWQv0iwBpsfKjctNEQfLDHc7Q55P~FJ950aw7KlRMvGHKSgdcstmzVzX-vvnPrHFAv7hagZyBczG65WDJQVGZBZDQ4F0ERJdodUwUrWxhpKSy8rFmE-qZrFmwh6g1t9fw__);
}


.svg{
    margin-top: 23px;
    margin-left: -30px;
}

.svg1{
    margin-bottom: 20px;
    margin-left: 75px;
}

.LeftSide{
    display: flex;
    gap: 35px;
    margin-top: 25px;
    margin-right: 880px;
    font-size: 14px;
}

.LeftSide a{
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
}

.LeftSide :first-child{
    color: #EB662B;
}

.RightSide a{
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
}

.RightSide{
    display: flex;
    gap: 35px;
    margin-top: 30px;
    margin-right: 60px;
}

.Heading{
    font-family: sans-serif;
    font-size: 25px;
    margin-top: -33px;
    margin-left: 110px;
    color: #ffffff;
}

.Heading1{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 245px;
    color: #ffffff;
}

.Paragraph{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #e0dbdb;
    margin-top: 25px;
}

.Paragraph1{
    margin-top: 130px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 55px;
    text-align: center;
    color: #e0dbdb;
}

/* .imput1{
    width: 470px;
    height: 70px;
    border-radius: 200px;
    color: #000;
    margin-top: 496px;
} */

.CFNA{
   display: flex; 
   justify-content: center;
   gap: 20px;
 
   
}

.CFNA a{
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    
}

.Alink{
    height: 60px;
    width: 148px;
    margin-top: 25px;
    border-radius: 200px;
    background-color: rgba(255, 255, 255, 0.15);

}

.Div{
    max-width: 1920px;
    height: 864px;
    margin: auto;
}

.Login{
    box-sizing: border-box;
    width: 85px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 200px;
    align-items: center;
    display: flex;
}

.Login{
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

.NewYork{
    margin-top: 90px;
    max-width: 1320px;
    height: 1000px;
    margin-left:auto;
    margin-right: auto;
}

.img{
    width: 298px;
    height: 230px;
    margin-top: 50px;
    border-radius: 30px;
}

.PartOfPicture1{
    margin-top: 10px;
    margin-left: 50px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #717171;
}

.Paragraph2{
    margin-left: 20px;
    margin-top: 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color:#05073C;
}

.Paragraph3{
    margin-left: 90px;
    margin-top: 8px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color:#05073C;
}

.Paragraph4{
    margin-left: 40px;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#05073C;
}

.From{
    margin-left: 215px;
    margin-top: -18px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    color:#05073C;
}

.From1{
    margin-left: 250px;
    margin-top: -18px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:#05073C;
}

.img1{
    width: 298px;
    height: 230px;
    border-radius: 30px;
    margin-left: 30px;
}

.PartOfPicture2{
    margin-top: -158px;
    margin-left: 380px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #717171; 
}

.Paragraph5{
    width: 252px;
    height: 45px;
    margin-top: 5px;
    margin-left: 355px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color:  #05073C;
}

.Paragraph6{
    margin-left: 427px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color:#05073C;
}

.Paragraph7{
    margin-left: 380px;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#05073C;
}

.From2{
    margin-left: 545px;
    margin-top: -18px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    color:#05073C;
}

.From3{
    margin-left: 580px;
    margin-top: -18px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:#05073C;
}

.img2{
    width: 298px;
    height: 230px;
    border-radius: 30px;
    margin-left: 30px;
}

.PartOfPicture3{
    margin-top: -157px;
    margin-left: 710px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #717171; 
}

.Paragraph8{
    width: 252px;
    height: 45px;
    margin-top: 5px;
    margin-left: 690px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color:  #05073C;
}

.Paragraph9{
    margin-left: 765px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color:#05073C;
}

.Paragraph10{
    margin-left: 708px;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#05073C;
}

.From4{
    margin-left: 870px;
    margin-top: -19px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    color:#05073C;
}

.From5{
    margin-left: 905px;
    margin-top: -17px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:#05073C;
}

.img3{
    width: 298px;
    height: 230px;
    border-radius: 30px;
    margin-left: 30px;
}

.PartOfPicture4{
    margin-top: -160px;
    margin-left: 1040px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #717171; 
}

.Paragraph11{
    width: 251px;
    height: 69px;
    margin-top: 5px;
    margin-left: 1020px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #05073C;
}

.Paragraph12{
    width: 54px;
    height: 17px;
    margin-top: 10px;
    margin-left: 1095px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #05073C;
}

.Paragraph13{
    margin-left: 1035px;
    margin-top: 40px;
    width: 40px;
    height: 17px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;   
    color: #05073C;
}

.From6{
    margin-left: 1205px;
    margin-top: -18px;
    width: 34px;
    height: 17px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #05073C;
}

.From7{
    margin-left: 1240px;
    margin-top: -21px;
    width: 32px;
    height: 21px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    color: #05073C;
}

.img4{
    width: 410px;
    height: 347px;
    border-radius: 12px;
    margin-top: 260px;
    margin-left: 16px;
}

.img5{
    width: 410px;
    height: 347px;
    border-radius: 12px;
    margin-top: 260px;
    margin-left: 25px;
}

.img6{
    width: 410px;
    height: 347px;
    border-radius: 12px;
    margin-top: 260px;
    margin-left: 25px;
}

.Paragraph14{
    margin-top: -310px;
    margin-left: 40px;
    width: 277px;
    height: 28px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
}

.images{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 35px;  
    color: #ffffff;
    margin-left: 40px;
    margin-top: 10px;
}

.Paragraph15{
    margin-left: 480px;
    margin-top: -110px;
    width: 285px;
    height: 28px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
}

.images1{
    font-family: sans-serif;
    font-size: 11.5px;
    font-weight: 700;
    line-height: 35px;  
    color: #ffffff;
    margin-left: 480px;
    margin-top: 10px;
}

.Paragraph16{
    width: 97px;
    height: 28px;
    margin-left: 920px;
    margin-top: -110px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
}

.images2{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    margin-left: 920px;
    margin-top: 10px;
}

.Container{
    max-width: 1920px;
    background-color:rgba(235, 102, 43, 0.05);
    height: 700px;
    margin: 250px auto auto auto;
}

.Container1{
    width: 440px;
    height: 281px;
}

.Paragraph17{
    margin-left: 300px;
    margin-top: -300px;
    height: 45px;
    width: 294px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #05073C;
}

.Paragraph18 {
    margin-left: 300px;
    margin-top: 25px;
    width: 406px;
    height: 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: #05073C;
    
}

.Box{
    margin-left: 940px;
    margin-top: 120px;
    background-color:#FFFFFF;
    text-align: right;
}

.Box0{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: #FEF7F4;
    margin-top: 30px;
    margin-left: 60px;
}

.Grid{
    display: grid;
    grid-template-columns: repeat(3, 210px);
    grid-template-rows: repeat(2, 230px);
    gap: 20px;
}

.Box1{
    height: 220px;
    width: 195px;
    border-radius: 12px;
    grid-row: 1/3;
    grid-column: 1/2;
    
}

.Box2{
    height: 220px;
    width: 195px;
    border-radius: 12px;
    grid-row: 1/2;
    grid-column: 2/3;
}

.Box3{
    height: 220px;
    width: 195px;
    border-radius: 12px;
    grid-row: 1/2;
    grid-column: 3/4;
}

.Box4{
    height: 220px;
    width: 195px;
    border-radius: 12px;
    grid-row: 2/3;
    grid-column: 2/3;
}

.Box5{
    height: 220px;
    width: 195px;
    border-radius: 12px;
    grid-row: 2/3;
    grid-column: 3/4;
}

.Box6{
    height: 220px;
    width: 195px;
    border-radius: 12px;
    grid-row: 2/3;
    grid-column: 1/2;
}

.svg2{
    width: 40px;
    height: 41px;
    margin-top: 19.5px;
    margin-right: 20px;
}

.Paragraph19{
    text-align: center;
    margin-top: 35px;
}

.Paragraph20{
    width: 100%;
    height: 27px;
    font-family: sans-serif;
    font-size: 17.5px;
    font-weight: 500;
    color:#05073C;
}

.Paragraph21{
    width: 100%;
    height: 20px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;
    color: #05073C;

}

.TrendingDestinations{
    width: 1320px;
    height: 428px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;

}

.TrendingDestinations1{
    width: 322px;
    height: 45px;
    margin-top: 5px;
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
    color:#05073C;
}

.img7{
    width: 190px;
    height: 248px;
    margin-top: 45px;

    border-radius: 12px;
} 

 .img0{
    margin-left: 25px;
 }

.images3{
    margin-left: 17px;
}

.Paragraph22{
    text-align:right;
    margin-top: -20px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #05073C;
    margin-right: 45px;
}

.TrendingDestinations2{
    display: flex;
    margin-top: 20px;
}

.Paragraph23{
    height: 27px;
    font-family: sans-serif;
    font-size: 17.5px;
    font-weight: 500;
    line-height: 27px;
    color: #05073C;
}

.Paragraph24{
    width: 64px;
}

.Paragraph25{
   width: 103.5px;
   margin-left: 155px;
}

.Paragraph26{
   width: 86px;
   margin-left: 115px;
}

.Paragraph27{
   width: 114px;
   margin-left: 135px;
}
   
.Paragraph28{
   width: 42.5px;
   margin-left: 105px;
}

.Paragraph29{
   width: 52px;
   margin-left: 175px;
}

.TrendingDestinations3{
   display: flex;
   height: 18px;
   font-family: sans-serif;
   font-size: 13px;
   font-weight: 400;
   line-height: 18px;
   color: #05073C;
   margin-top: 5px;
}

.Paragraph31{
    margin-left: 155px;
}

.Paragraph32{
    margin-left: 155px;
}

.Paragraph33{
    margin-left: 155px;
}

.Paragraph34{
    margin-left: 153px;
}

.Paragraph35{
    margin-left: 153px;
}

.Container2{
    max-width: 1920px;
    height: 701px;
    margin-left: auto;
    margin-right: auto;
}

.Container2Child{
    width: 1250px;
    height: 701px;
    border-radius: 24px;
    background-color: #EB662B0D;
    margin-left: 180px;
    margin-top: 100px;
}

.img8{
    width: 610px;
    height: 601px;
    border-radius: 24px;
    margin-top: 50px;
    margin-left: 920px;
}

.Heading2{
    width: 181px;
    height: 84px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    color: #05073C;
    margin-top: -545px;
    margin-left: 235px;
}

.Heading3{
    width: 153px;
    height: 27px;
    margin-top: -50px;
    margin-left: 315px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #05073C;
   
}

.Paragraph36{
    width: 297px;
    height: 48px;
    margin-top: 10px;
    margin-left: 315px;
    font-family: sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 28px;
    color: #05073C;        
}

.img9{
    width: 50px;
    height: 50px;
    margin-top: 60px;
    margin-left: 235px;
}

.Heading4{
    width: 204px;
    height: 27px;
    margin-left: 315px;
    margin-top: -55px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #05073C;
}

.Paragraph37{
    width: 277px;
    height: 48px;
    margin-left: 315px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #05073C;
}

.img10{
    width: 50px;
    height: 50px;
    margin-top: 43px;
    margin-left: 230px;
}

.Heading5{
    width: 158px;
    height: 27px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #05073C;
    margin-left: 315px;
    margin-top: -50px;
}

.Paragraph38{
    width: 291.5px;
    height: 28px;
    font-family: sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    line-height: 28px;
    color: #05073C;
    margin-top: 10px;
    margin-left: 315px;
}

.img11{
    width: 50px;
    height: 50px; 
    margin-top: 43px;
    margin-left: 230px;
}
